:root {
  --primary-bg: #E2DED0;
  --primary-1: #647C90;
  --primary-2: #4E4F50;
  --secondary-1: #9D9599;
  --secondary-2: #937e88;
  --secondary-3: #855a70;
}

.color-secondary-3 {
  color: var(--secondary-3);
}

.color-secondary-2 {
  color: var(--secondary-2);
}