@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT Mono");
@import "common.css";

html body {
  font-family: "Nunito", sans-serif;
  background-color: var(--primary-bg) !important;
}
code {
  font-family: "PT Mono", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

.NotFound {
  color: var(--secondary-1);
}

.Home {
  padding: 0 0 0 0;
}

.Title {
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  line-height: 40px;

  color: var(--primary-1);
}

.Title:hover {
  color: var(--secondary-2) !important;
}

.Greet {
  font-weight: 300;
  font-size: 48px;
  line-height: 48px;

  color: var(--primary-2);
}

.Greet-logo {
  height: 96px;
}

.Intro {
  font-size: 18px;
  line-height: 30px;

  color: var(--primary-2);
}

.Project {
  font-weight: 300;
  font-size: 60px;
  line-height: 60px;

  color: var(--primary-2);
}

.Contact {
  font-weight: 300;
  font-size: 60px;
  line-height: 60px;

  color: var(--primary-2);
}

.ContactDetail {
  font-size: 18px;
  line-height: 30px;

  color: var(--primary-2);
}

.ProjectItemTitle {
  font-weight: 300;
  font-size: 38px;
  line-height: 38px;

  color: var(--primary-2);

  margin: 0 0 9px 0;
}

.ProjectItemBody {
  font-size: 18px;
  line-height: 30px;

  color: var(--primary-2);
}

.Project-image {
  max-height: 100%;
  max-width: 100%;
}

#title-row {
  margin: 32px 0 64px 0;
}

#greet-row {
  margin: 0px 0 64px 0;
}

#intro-row {
  margin: 0 0 64px 0;
}

#project-row {
  margin: 0 0 64px 0;
}

#contact-row {
  margin: 0 0 64px 0;
}

#contact-detail-row {
  margin: 0 0 64px 0;
}

.project-item-row {
  margin: 0 0 64px 0;
}

.custom-link {
  color: var(--primary-1);
}

.custom-link:hover {
  color: var(--secondary-3) !important;
}

.try-it-link {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  margin: 8px 0 0 0;
}

.try-it-link:hover {
  color: var(--secondary-3) !important;
}
